@import '../../vars.scss';
@import '~tippy.js/dist/tippy.css';


/* item page */
#body {
  .header__desktop {
    .cell.logo {
      &::after {
        position: absolute;
        top: 0;
        right: -38px;
        content: "";
        display: block;
        width: 128px;
        height: 64px;
        background-image: url('chrome-extension://__MSG_@@extension_id__/images/with-krama.png');
        background-size: 48px auto;
        background-repeat: no-repeat;
      }
    }
  }
  .mfp-container {
    .products_card {
      .services_wrap .form_elements {
        &.block-addon-danger {
          display: flex;
        }
        button.block-addon-buy-danger {
          background: $danger-red-color;
          min-width: 30px;
        }

        .block-addon-product-warning {
          background: $danger-red-color;
          color: $danger-white-color;
          border-radius: 5px;
          margin-left: 5px;
          display: flex;
          align-items: center;
          padding: 3px;
          white-space: break-spaces;
        }
        &.block-addon-danger-orange {
          .block-addon-product-warning {
            background: $danger-orange-dark-color;
          }
        }
      }
    }
  }
}


/* products list / searh suggestions */

.products_card {
  .block-addon-banned {
    &.block-addon-banned-red {
      form {
        border-color: $danger-red-color !important;
      }
    }
    &.block-addon-banned-orange {
      form {
        border-color: $danger-orange-color !important;
      }
    }

    form {
      .img {
        mix-blend-mode: darken;
        &::after {
          background: none !important;
        }
      }
      .prices__wrapper {
        .services_wrap {
          .form_elements {
            button {
              background: $danger-red-color !important;
            }
          }
        }
      }
    }

    &:hover {
      &.block-addon-banned-red {
        form {
          background: $danger-red-light !important;
        }
      }
      &.block-addon-banned-orange {
        form {
          background: $danger-orange-light !important;
        }
      }

      a.to_favorite {
        color: $white-light !important;
      }

      .rating i {
        color: $white-light !important;
      }

      form {
        .img {
          mix-blend-mode: darken;
          &::after {
            background: none !important;
          }
        }
      }
    }
  }
}