body {
  padding: 20px;
  min-width: 300px;
}

.setting {
  label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  margin-top: 20px;
  text-align: center;
}