$danger-red-color: red;
$danger-orange-color: #FFA500;
$danger-orange-dark-color: #ff8c00;
$danger-yellow-color: yellow;

$danger-red-light: rgba(255, 0, 0, 0.5);
$danger-orange-light: rgba(255, 165, 0, 0.8);
$white-light: rgba(255,255,255,0.3);

$danger-white-color: #fff;

